.sign {
    width: 55px;
    position: absolute;
    right: 0;
    margin: 25px;
    top: 5px;
}

.testGrades{
    bottom: 0;
}

.outGrades {
    margin: 0;
    position: relative;
    left: -130px;
    top: -20px;
}